@charset "UTF-8";

@media screen and (min-width: 1px) and (max-width: 767px) {

    .galeria > img {
        margin: 4%;
        width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {

    .carrossel {
        max-width: 44vw;
    }
}